//site color variables
$body-color: #fff;
$primary-color: #4c85e9;
$secondary-color: #254f9d;
$text-color: #9D9EA5;
$text-color-dark: #00113E;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F7F9FF;
$dark-gray: #646569;
$s-radius: 6px;
$m-radius: 12px;
$l-radius: 24px;
$primary-gap: 12px;
$secondary-gap: 6px;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
